:root{
    --corNumeros: #6db6ce;
    --corNumerosHover: #085ab8; 
}

#fundo{
    background-image: linear-gradient(45deg, black, #5041a7);
    height: 100vh;
    color: #be70eb;
}

#BotaoNumeros{
    background-color: var(--corNumeros);
    color: black;
}

#BotaoNumeros:Hover{
    background-color: var(--corNumerosHover);
}

#display{
    background-color: antiquewhite;
    width: 200px;
    height: 30px;
    margin: 5px;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculadora {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
}
